* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

body {
  background-image: url('../public/SL-100420-36140-05.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f0f0f0; /* Color de fondo de respaldo */
}

body {
    background-color: #eee;
    font-size: 20px;
}

img {
    max-width: 600px;
    height: 600px;
}
.mboton {
  padding: 4px 10px;
    background-color: #536f54;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4px;

}

.boton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4px;
  }
.boton:hover {
    background-color: #45a049;
  }
.boton:active {
    background-color: #3e8e41;
  }

.boton2{
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.699);
    color: white;
    border-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
.boton2:hover {
    background-color: rgba(204, 8, 8, 0.699);
  }
.boton2:active {
    background-color: rgba(161, 2, 2, 0.699)
  }
  

  .boton3{
    padding: 10px 20px;
    background-color: rgba(243, 184, 36, 0.699);
    color: white;
    border-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
.boton3:hover {
    background-color: rgba(204, 8, 8, 0.699);
  }
.boton3:active {
    background-color: rgba(161, 2, 2, 0.699)
  }
.imagenlista{
    width: 100px;
    height: 100px;
}

.aceptados{
    background-color: #d4edda;
    position: absolute;
    top: 50px;
    margin-left: 630px;
    border: 1px solid #c3e6cb;
    overflow: auto;
    max-height: 830px;
    padding: 30px;
    max-width: 600px;
    border-radius: 5px;
}

.rechazados{
    position: absolute;
    top: 50px;
    margin-left: 1250px;
    overflow: auto;
    max-height: 830px;
    padding: 30px;
    max-width: 600px;
    border-radius:5px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.content-container{
  margin-top: 10px;

}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-message {
  background-color: #007bff;
  color: white;
  text-align: right;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.dog-message {
  background-color: #e0e0e0;
  color: #000;
  display: inline-block;

  text-align: left;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}


.image-navbar {
  max-width: 250px; 
  max-height: 70px; 
}

.navbar {
  height: 70px; 
  background-color: #fc1c2c;
  display: flex;
  align-items: center; 
  
    position: sticky;
    top: 0;
    z-index: 100;
  
  
}

.chat-input{

  height: 50px;
}

@font-face {
  font-family: 'Ftitle'; 
  src: url('/Fonts/DeliciousHandrawn-Regular.ttf') format('truetype'); 
}

h1 {
  font-family: 'Ftitle', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Ftitle', sans-serif;
  font-size: 30px;
}

.perrosbox {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 620px;
  
}

.image {
  width: 550px;
  height: 500px;
  object-fit: cover;
}

.formcontainer {
  display: flex;
  justify-content: center;
}

.formstyle{
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px #000;
}


.botoncrear:hover {
  background-color: #45a049;
}
.botoncrear:active {
  background-color: #3e8e41;
}

.registroperro {
  display: flex;
  justify-content: center;
  text-align: center;
}

.inputs {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

.title{
  display: flex;
  text-align: center;
}
.form-background {
  background-color: #f2f2f2; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: -50px;

}